<!DOCTYPE html>
<html>
    <%- include('./partials/head', {title: 'Task List'}) %>
<body>
    <%- include('partials/navbar')%>
    <div style="height: 32px;"></div>
    <h1 style="text-align: center;">Tasks</h1><br>
    <table class="table table-hover" style="width: 50%; margin: auto;">
      <thead>
        <tr style="text-align: center;">
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          <% for(let i = 0; i < result[0].Tasks.length; i++){%>
        <tr class="table-info" style="text-align: center;">
          <td><%= result[0].Tasks[i].name %></td>
          <td><%= result[0].Tasks[i].status %></td>
          <td>
              <a href="/tasks/<%= result[0].Tasks[i].id %>/editUser"><button type="button" class="btn btn-primary">Edit Status</button></a> 
              <a href="/tasks/<%= result[0].Tasks[i].id %>/seeUser"><button type="button" class="btn btn-secondary">See Users</button></a>
          </td>
        </tr>
        <% }%>
      </tbody>
    </table>
</body>
</html>



<!-- UNTUK BUKAN ADMIN -->