<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <%- include('partials/navbar')%>
</head>
<body>
    <h1>Users</h1>
    <table border=1>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    <% for(let i = 0; i < result.length; i++){%>
            <tr>
                <td><%= result[i].name %></td>
                <td><%= result[i].fullRole() %></td>
                <td><%= result[i].email %></td>
                <td><a href="/users/<%= result[i].id %>/seeTasks">See Tasks</a></td>
            </tr>
    <% }%>
    </table>
</body>
</html>